@font-face {
    font-family: 'ADAM';
    src: url('ADAM.otf'); 
}

.site-cover {
	width: 100%;
	height: 100vh;
	background-image: url('../img/fullteam.jpg');
	background-size: cover;
}

.topfixbar {
	/*background-color: rgba(39, 174, 96, 0.8*/
		background-color: #333;
	text-align: center;
	padding-top: 5px;
}


[class*="icon1-"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(facebook.svg);
	background-repeat: no-repeat;
}
.icon1-facebook {
	background-position: 0 0;
	width: 20px;
}

[class*="icon2-"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(google.svg);
	background-repeat: no-repeat;
}

/*[class*="icon-"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}*/

.icon-ieee {
	background-position: 0 0;
	width: 20%;
}

#topbar {
	background-color: #ecf0f1;
	position: relative;
	-webkit-box-shadow: 0px 7px 15px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 7px 15px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 7px 15px 0px rgba(50, 50, 50, 0.2);
}

.main {

}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#about {
	background-color: #3498db;
	padding:75px 0 75px 0;
}


#eventos {
	margin-top: 75px;
	margin-bottom: 85px;
}

#equipa {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #2B2E31;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}

#team {
	background-color: #2980b9;
	/*background-color: #bdc3c7;*/
	margin-top: 100px;
}

.navbar {
	margin-bottom: 0;
	border-bottom: 0;
	min-height: 50px;
}

#executive {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #33A15D;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}
#publicity {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #77CC98;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}
#mentors {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #98DFB3;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}

#membership {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #4EBB78;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}
#external {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #96DCB1;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}
#counselor {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #87D2A4;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}

#program {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #63C387;    
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}
#internal {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #ABE3C1;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}
#contactos {

    background-color: #ffffff;
    margin-top: 75px;
    margin-bottom:30px;
}


[class*="icon4-"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(uc.svg);
	background-repeat: no-repeat;
}
.icon4-preto {
	background-position: -80px 0;
	width: 22px;
}

/*andre */

#mastermenu {
	margin-top:6px;
	float: right;
    
}

.menuPills {
	color: #4EBB78;
}
.wiemenuPills {
	/*color: #4EBB78;*/
    color: #6C2882;
}

.menuPills:hover {
	color: #2ACDC9;
}

#sobre {
	background-color: #333;
	padding: 50px 0 50px 0;
	margin-top: 75px;
}

/*Exclusiva da pagina wie.html*/
#wiequipa{

    background-color: #2B2E31;
	padding:20px 0 20px 0;

}


#wiesobre {
	/*background-color: #333;*/
    background-color:#A0A0A0  ;
	padding: 50px 0 50px 0;
}


#wiefullteam {
    border-top: 5px solid #EDEEF2;
    background-color: #888888;
	/*background-color: #bdc3c7;*/
	/*padding:20px 0 20px 0;*/
}

#wieprocuraser {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #C0C0C0 ;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}

#wiefaq {
    /*border-top: 1px solid #EDEEF2;*/
    background-color: #D8D8D8 ;
	/*background-color: #bdc3c7;*/
	padding:20px 0 20px 0;
}



/*------------------------------------*/

header h1 {text-align: center;}

header h1 #titles {
	color:#FFF;
	font-family: 'ADAM';
	font-size: 55px;
	/*background-color: rgba(41, 128, 185,0.6);*/
	background-color: rgba(39, 174, 96, 0.6);
	display: inline;
	padding-top: 15px;
	padding-left: 10px;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

header h1 #titles:hover {
	background-color: rgba(0,0,0,0.6);
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

header p {
  text-align: center;
}

header .title_box {
	height:15px;
}

h1,h2,h3,h4,h5,h6,li { font-family: "Open Sans" !important; }


td {

        padding: 0; 
		margin-bottom: 12px; 
		font-family: "Open Sans" !important; 
		font-weight: 300;
		font-size: 11px; 
		line-height: 24px;
		color: #696E74; 
		margin-top: 10px; 
}


p,p1 { 
		padding: 0; 
		margin-bottom: 12px; 
		font-family: "Open Sans" !important; 
		font-weight: 300;
		font-size: 13px; 
		line-height: 24px;
		color: #696E74; 
		margin-top: 10px; 
	}

.zoneTitles {
	text-align:center; 
	color:#4EBB78; 
	font-family:'ADAM';
}

footer {
	width: 100%;
	margin-top: 60px;
}

#cal {
	color: white;
	background-color: #4EBB78;
	border: 0;
	border-radius: 1px;
}

#softwarecal {
	color: white;
	background-color: #3498db;
	border: 0;
	border-radius: 1px;
}

#wiecal {
	color: white;
	background-color: #6C2882;
	border: 0;
	border-radius: 1px;
}


#cal:hover {
	background-color: #2ecc71;
}

#softwarecal:hover {
	background-color: #35BEDC;
}

#barsFullTeam {
	position: fixed;
	width: 100%;
}
